<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hello World
    <div>

        <img src="/images/logo.jpg" />
        <!--Do có khai báo "app.use(express.static(path.join(__dirname, 'public')))"// nên có thể truy cập được file ảnh-->
    </div>
</body>

</html>